@model HW8.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@* Done with out using Ajax *@
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <input type="hidden" id="list" value="@Model.ItemID"/>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seller1.SellersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller1.SellersName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index") |
</p>


@*Display a detail page for items using Ajax*@

<h2 class="text-center">Item Bids</h2>
<div id="Result">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Buyer Name
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody id="TableContent"></tbody>
    </table>
</div>

@section DetailScript{
    <script type="text/javascript" src="~/Scripts/MyBidScript.js"></script>
    
    }

<p style="margin-top: 10px; margin-left: 5px" id="ItemTable"></p>