@model Web_app_NoDB.Models.Request_withDB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request_withDB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartmentUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartmentUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitRequest)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
